
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        The Winter Olympics data set compiled by The Guardian and posted publicly to Kaggle is accountable and easily fact-checked
        by any number of external websites and resources that contain the indentical information presented in the data.</p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>This data was compiled by the British media outlet, <a href = "https://www.theguardian.com/us">The Guardian</a> and
        posted to <a href = "https://www.kaggle.com/the-guardian/olympic-games">Kaggle</a>, a free website which hosts data 
        science collaborations and competitions. The data on the Winter Olympics contains all 5770 medal winners dating back to 
        the first Winter Olympic Games in 1924 up until the most recently completed games in Sochi, Russia in 2014. Furthermore,
        the data has nine distinct fields:
        <ul>
        	<li>Year</li>
        	<li>City (Host)</li>
        	<li>Sport</li>
        	<li>Discipline</li>
        	<li>Athlete</li>
        	<li>Country</li>
        	<li>Gender</li>
        	<li>Event</li>
        </ul>
        While this data exists in other formats around the internet in pieces, this particular data set as compiled by The Guardian
        is more comprehensive and clearly underwent some degree of fact-checking and data cleaning prior to its upload to Kaggle.
        </p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>In line with the true spirit of the Olympics, this data set is publicly available and can be downloaded and 
	manipulated free of charge. To access the data, one can simply visit <a href = "https://www.kaggle.com/the-guardian/olympic-games/data">Kaggle</a>
	and select the <b>Download</b> option. </p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
